.weather {
  position: absolute;
  //top: 0;
  //left: 0;
  justify-self: start;

  &__week {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 0 !important;
    visibility: hidden !important;
  }

  &__week--transitioned {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 1 !important;
    visibility: visible !important;
  }

  &__day {
    display: flex;
    flex-direction: row;
    align-items: center;

    &--icon {
      float: left;
    }

    &--temp {
    }

  }

};
